<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome in VehicleBuy!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>VehicleBuy is an app where you can easily buy/sell cars.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/login" color="primary">
      Login to your Account
    </button>
    <button mat-raised-button routerLink="/register">
      Don't have an account yet? Register now
    </button>
  </mat-card-actions>
</mat-card>
