<mat-toolbar>
  <span> </span>
  <span class="toolbar-fill"> </span>
  <span>
    <button mat-button routerLink="/login" *ngIf="!userLoggedIn">
      <span>Login</span>
    </button>
    <button mat-button routerLink="/register" *ngIf="!userLoggedIn">
      <span>Register</span>
    </button>
    <button mat-button *ngIf="userLoggedIn">
      <span>My Auctions</span>
    </button>
    <button mat-button *ngIf="userLoggedIn">
      <span>{{
        loggedUserInfo.email === null || undefined
          ? "Not Logged In"
          : loggedUserInfo.email
      }}</span>
    </button>
    <button mat-button *ngIf="userLoggedIn" (click)="logout()">
      <span>Logout</span>
    </button>
  </span>
</mat-toolbar>
